.regions {
    display: flex;
    justify-content: space-around;
}

.table_region {
    width: 400px;
    background: white;
    box-shadow: 0 0 10px 1px grey;
    padding: 15px;
    border-radius: 5px;
}

table {
    width: 100%;
}

table tr:nth-child(even) {
    background-color: aliceblue;
}

.btnEdit {
    margin-right: 15px;
}