<nav class="navbar nabar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">Election</h1>
    <div class="d-flex">
      <button (click)="clickAddBulletin()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openModal()" class="btn btn-success">Add Region</button>

    </div>

  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"> Label</th>
      <th scope="col">Couleur</th>
      <th scope="col">Photo</th>
      <th scope="col">Actions</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bulletin of BulletinData">
      <td>{{bulletin.id}}</td>
      <td>{{bulletin.label}}</td>
      <td>{{bulletin.couleur}}</td>
      <td> <img src="{{bulletin.photo}}" /> </td>
      <td>
        <button (click)="modifierBulletin(bulletin)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openModal()" class="btn btn-info">Edit</button>
        <button (click)="deleteBulletin(bulletin)" class="btn btn-danger mx-3 ">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajoute un Bulletin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formValue">
          <div class="form-group mb-3">
            <label for="exampleInputEmail1">Label</label>
            <input type="text" formControlName="label" class="form-control"  placeholder="Entre une region">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputEmail1">Couleur</label>
            <input type="text" formControlName="Couleur" class="form-control"  placeholder="Entre une region">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputEmail1">Photo</label>
            <input type="file" formControlName="Photo" class="form-control"  placeholder="Entre une region">
          </div>

        </form>
      </div>
      <div class="modal-footer mb-3">
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal" (click)="doSomeThing()">Close</button>
        <button  *ngIf="showAdd" class="btn btn-primary" (click)="postBulletin()">Add</button>
        <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateBulletin()">Update</button>
      </div>
    </div>
  </div>
</div>
