<body>

    <div class="container" id="container">
        <form method="POST" (ngSubmit)="onRegisterRegion()" [formGroup] = "formR" >
            <h1>Ajouter Une Region</h1>
            <input type="text" formControlName="nom" id="nom" placeholder="Entrer le nom">
            <input type="text" formControlName="description" id="prix" placeholder="Entrer la Description">
            <input type="submit" value="Enregistrer" class="Enregistrer">

            <h1 *ngIf(success)>Enregistrement reussit</h1>
            <h1 *ngIf(error)> Echec Enregistrement</h1>
        </form>
    </div>
</body>