<div class="add_region">
  <h2>Ajouter une region</h2>
  <form action="" (ngSubmit)="onRegisterRegion()" #formRegion="ngForm" *ngIf="region">
    <div class="form-group">
      <div>
        <label for="label">Label de la region </label>
      </div>
      <div>
        <input type="text" name="label" class="form-control" placeholder="Label:" [(ngModel)]="region.label"
          #label="ngModel" required>
        <small id="emailHelp" class="form-text text-muted">Entrez un label unique.</small>
      </div>
    </div>
    <div class="btns">
      <button type="reset" class="btn btn-danger" [disabled]="">Annuler</button>
      <button type="submit" class="btn btn-primary" [disabled]="!formRegion.form.valid">Enregistrer</button>
    </div>
  </form>
  {{error}}{{success}}
  <p><strong>#Nb:</strong> Les &eacute;lections se d&eacute;rouleront surement dans les region ajout&eacute;es ici.</p>
</div>