<div class="container">
    <nav appNavSticky>
        <label class="logo" (click)="router.openHomePage()">
            <span style="color: rgb(0, 0, 0); margin-left: 4px;">ELECTION </span>
        </label>
        <input type="checkbox" id="check" style="color: antiquewhite;">
        <label for="check" class="checkbtn">
            menu
        </label>

        <ul  style="margin-top: -4px;">
            <li>
                <a (click)="router.openHomePage()">
                    <label for="check">
                        Home
                    </label>
                </a>
            </li>
        </ul>
    </nav>

</div>